.listas {

    .label-title {
        padding-bottom: 5px;
        margin-bottom: 25px;
        font-weight: 600!important;
    }

    .item-lista-wrapper {
        border-radius: 7px;
        margin-bottom: 15px;
        align-items: center;
        min-height: 100px;
        height: 100%;

        .item-lista-img-wrapper {
            align-self: stretch;
       
            .item-lista-img {
                min-height: 100px;
                height: 100%;
                border-top-left-radius: 7px;
                border-bottom-left-radius: 7px;
            }

        }
    }

    .item-info-wrapper {
        padding: 12px 10px;

        .nombre-item {
            font-size: 1.5rem;
            border-bottom: 1px solid #ededed;
            font-weight: 700;
            padding-bottom: 5px;
            margin-bottom: 5px;
        }

        .desc-item {
            font-size: 1rem;
            margin: 0;
        }
    }

    .plus {
        color: $lupa-amarillo;
    }

    .button {

        span {
            color: #fff;
        }

    }

    .telefono {
        margin: 0;

        ion-icon {
            margin-right: 10px;
        }
    }

    /*&.lista-servicios {

        .item-lista-wrapper {
            height: auto;
        }

    }*/
    
}