<ion-header>

  <ion-navbar>
    <ion-title>Registrarse</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-row justify-content-center>
    <ion-col *ngIf="!imgFacebook" text-center col-6 no-padding>
      <img text-center *ngIf="imagePath" class="img_add" [src]="getTrustImg(imagePath)">
      <img text-center *ngIf="!imagePath" class="img_add" src="assets/imgs/main.png">
      <div class="col_add">
        <span text-center>
          <ion-icon ion-fab mini class="icon_add" name="add" (click)="addPerfilPhoto()"></ion-icon>
        </span>
      </div>
    </ion-col>
    <ion-col *ngIf="imgFacebook" text-center col-6 no-padding>
      <img text-center *ngIf="!imagePath" class="img_add" [src]="imgSrc">
      <img text-center *ngIf="imagePath" class="img_add" [src]="getTrustImg(imagePath)">
      <div class="col_add">
        <span text-center>
          <ion-icon ion-fab mini class="icon_add" name="add" (click)="addPerfilPhoto()"></ion-icon>
        </span>
      </div>
    </ion-col>
    <ion-col col-10 text-center>
      <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor complete todos los campos.</p>
      <ion-list no-lines>
        <form [formGroup]="myForm">
          <ion-input type="text" placeholder="Nombre" class="lupa-shadow" formControlName="nombre" [class.invalid]="!myForm.controls.nombre.valid && (myForm.controls.nombre.dirty || submitAttempt)"></ion-input>
          <ion-item *ngIf="!myForm.controls.nombre.valid  && (myForm.controls.nombre.dirty || submitAttempt)">
            <p>Por favor ingresar un nombre válido.</p>
          </ion-item>
          <ion-input type="text" placeholder="Apellido" class="lupa-shadow" formControlName="apellido" [class.invalid]="!myForm.controls.apellido.valid && (myForm.controls.apellido.dirty || submitAttempt)"></ion-input>
          <ion-item *ngIf="!myForm.controls.apellido.valid  && (myForm.controls.apellido.dirty || submitAttempt)">
            <p>Por favor ingresar un apellido válido.</p>
          </ion-item>
          <ion-input type="tel" placeholder="Teléfono" class="lupa-shadow" formControlName="telefono" [class.invalid]="!myForm.controls.telefono.valid && (myForm.controls.telefono.dirty || submitAttempt)"></ion-input>
          <ion-item *ngIf="!myForm.controls.telefono.valid  && (myForm.controls.telefono.dirty || submitAttempt)">
            <p>Por favor ingresar un teléfono válido.</p>
          </ion-item>
          <!-- <ion-input type="text" placeholder="Dirección" class="lupa-shadow" formControlName="direccion" [class.invalid]="!myForm.controls.direccion.valid && (myForm.controls.direccion.dirty || submitAttempt)"></ion-input>
            <ion-item *ngIf="!myForm.controls.direccion.valid  && (myForm.controls.direccion.dirty || submitAttempt)">
              <p>Por favor ingresar una dirección válido.</p>
            </ion-item> -->
          <ion-item class="fecha_nac">
            <ion-datetime displayFormat="DD/MM/YYYY" placeholder="Fecha de nacimiento" formControlName="edad" [class.invalid]="!myForm.controls.edad.valid && (myForm.controls.edad.dirty || submitAttempt)"></ion-datetime>
          </ion-item>
          <ion-item *ngIf="!myForm.controls.edad.valid  && (myForm.controls.edad.dirty || submitAttempt)">
            <p>Por favor ingresar una edad válida.</p>
          </ion-item>
          <ion-input type="text" placeholder="Email" class="lupa-shadow" formControlName="email" [class.invalid]="!myForm.controls.email.valid && (myForm.controls.email.dirty || submitAttempt)"></ion-input>
          <ion-item *ngIf="!myForm.controls.email.valid  && (myForm.controls.email.dirty || submitAttempt)">
            <p>Por favor ingresar un email válido ó ya esta registrado.</p>
          </ion-item>
          <ion-input type="password" placeholder="Contraseña" class="lupa-shadow" formControlName="password" [class.invalid]="!myForm.controls.password.valid && (myForm.controls.password.dirty || submitAttempt)"></ion-input>
          <ion-item *ngIf="!myForm.controls.password.valid  && (myForm.controls.password.dirty || submitAttempt)">
            <p>Por favor ingresar una contraseña.</p>
          </ion-item>
        </form>
      </ion-list>
      <ion-row>
        <ion-col col-12 no-padding>
          <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Direccion"></ion-searchbar>
        </ion-col>
        <ion-col no-padding style="padding-top: 0px!important;">
          <ion-list class="list_map">
            <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">
              <p>{{place.description}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <div #pleaseConnect id="please-connect">
          <p>Please connect to the Internet...</p>
        </div>
        <div #map id="map">
          <!-- <ion-spinner></ion-spinner> -->
        </div>
      </ion-row>
      <div class="checkbox">
        <ion-checkbox (ionChange)="check($event)" checked="false" [(ngModel)]="aceptoterminos" color="primary">
        </ion-checkbox>
        Acepto los
        <a (click)="goTerminos()" class="terms">términos y condiciones
        </a>
      </div>
      <button ion-button block (click)="registrarme()" [disabled]="!aceptoterminos" class="btn-iniciar lupa-shadow">Iniciar</button>
    </ion-col>
  </ion-row>
</ion-content>