page-register {
  .button,
  .list {
    width: 100%;
  }
  .button {
    background: #fff;
  }
  .lupa-shadow {
    margin: 1em 0;
  }
  .checkbox {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: 0.8em;
    margin: 2em 0;

    ion-checkbox {
      margin-right: 5px;
    }

    .terms {
      margin-left: 2px;
    }
  }
  .checkbox-icon {
    border-color: color($colors, primary) !important;
  }
  .text-input {
    margin: 0;
    text-align: center;
  }
}
