<ion-header>

  <ion-navbar>
    <ion-title>Servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar-->
  <ion-segment [(ngModel)]="servicios">
    <ion-segment-button value="favoritos" (click)="cat()">
      Categorias
    </ion-segment-button>
    <ion-segment-button value="mapa" (click)="getUserPosition()">
      Ver en mapa
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="servicios">
    <div [hidden]="view!='favoritos'">
      <ion-grid *ngIf="showCategories">
        <ion-row padding-vertical>
          <ion-col col-4 *ngFor="let cat of categoras" (click)="goToCategory(cat, cat.categorialocalid)">
            <div class="category lupa-shadow">
              <img src="http://ctrlztest.com.ar/lupacan/apirest/{{cat.icono}}" alt=""> {{cat.nombre}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block class="lupa-shadow" (click)="goToPublicitar()">Publicite gratis aquí</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div [hidden]="view!='mapa'" style="height: 500px !important;">
      <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
      </div>

      <div #map id="map" style="width: 100% !important;">
        <ion-spinner></ion-spinner>
      </div>
    </div>
  </div>

  <ion-list inset *ngIf="!showCategories">
    <ion-list-header>
      Resultados de {{inputText}}
    </ion-list-header>
    <button ion-item *ngFor="let serv of filteredServices" (click)="goToService(serv)">
    </button>
  </ion-list>

</ion-content>