<ion-header>

  <ion-navbar>
    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <!--ion-searchbar (ionInput)="getItems($event)" ></ion-searchbar-->
  <ion-segment [(ngModel)]="servicios">
    <ion-segment-button value="favoritos">
      Favoritos
    </ion-segment-button>
    <ion-segment-button value="mapa" (click)="this.getUserPosition()">
      Ver en mapa
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="servicios">
    <div *ngSwitchCase="'favoritos'">
      <ion-grid *ngIf="showCategories">
        <ion-row padding-vertical>
          <ion-col col-4 *ngFor="let cat of categoras" (click)="goToCategory(cat.categorialocalid)">
            <div class="category lupa-shadow">
              <img src="http://ctrlztest.com.ar/lupacan/apirest/{{cat.icono}}" alt="">
              {{cat.nombre}}
            </div>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col>
            <button ion-button block class="lupa-shadow">Agregar a servicios</button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>

    <div *ngSwitchCase="'mapa'" style="height: 500px !important;">
      <div #map id="map"></div>
    </div>
  </div>

  <ion-list inset *ngIf="!showCategories">
    <ion-list-header>
      Resultados de {{inputText}}
    </ion-list-header>
    <button ion-item *ngFor="let serv of filteredServices" (click)="goToService(serv)">
    </button>
  </ion-list>

</ion-content>