<ion-header>
  <ion-navbar>
    <ion-title class="lupa-title">Editar {{dog.nombre}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="forms">
    <ion-grid padding>
      
      <ion-row class="data-input" justify-content-center>
        <ion-col>
          <ion-item>
            <ion-label stacked>Nombre</ion-label>
            <ion-input [(ngModel)]="dog.nombre" type="text" placeholder="Nombre"></ion-input>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="data-input">
        <ion-col col-6>
          <ion-item>
            <ion-label stacked>Fecha Nacimiento</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-datetime [(ngModel)]="dog.nacimiento" displayFormat="DD MMM YYYY" placeholder="dd/mm/aaaa" cancelText="Cancelar" doneText="Ok"></ion-datetime>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="data-input">
        <ion-col col-4>
          <ion-item radio-group [(ngModel)]="dog.gender">
            <ion-label stacked>Sexo</ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label>Hembra</ion-label>
            <ion-radio [checked]="selected_genero" value="hembra"></ion-radio>
          </ion-item>
        </ion-col>
        <ion-col col-4>
          <ion-item>
            <ion-label>Macho</ion-label>
            <ion-radio value="macho" [checked]="!(selected_genero)"></ion-radio>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-list radio-group [(ngModel)]="dog.esterilizado">
        <ion-row class="data-input">
          <ion-col col-4>
            <ion-item>
              <ion-label stacked>Esterilizado</ion-label>
            </ion-item>
          </ion-col>  
          <ion-col col-4>
            <ion-item>
              <ion-label>Si</ion-label>
              <ion-radio checked="true" value="1" [checked]="selected_esterilizado"></ion-radio>
            </ion-item>
          </ion-col>
          <ion-col col-4>
            <ion-item>
              <ion-label>No</ion-label>
              <ion-radio value="0" [checked]="!(selected_esterilizado)"></ion-radio>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>

      <ion-row class="data-input">
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Raza</ion-label>
            <ion-select [(ngModel)]="dog.raza">
              <ion-option *ngFor="let raza of razas" value="{{raza.razaid}}" [selected]="selected_raza == raza.razaid">{{raza.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
        
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Color</ion-label>
            <ion-select [(ngModel)]="dog.color">
              <ion-option *ngFor="let color of colores" value="{{color.colorid}}" [selected]="selected_color == color.colorid">{{color.nombre}}</ion-option>
            </ion-select>
          </ion-item>
        </ion-col>
      </ion-row>

      <ion-row class="data-input">
        <ion-col col-12>
          <ion-item>
            <ion-label stacked>Características</ion-label>
            <ion-textarea placeholder="Descripción..." [(ngModel)]="dog.descripcion"></ion-textarea>
          </ion-item>
        </ion-col>
      </ion-row>

      <!--<ion-row style="margin-top: 7%;">
        <ion-col *ngIf="!img1" col-4 class="lupa-shadow add-photo" (click)="getImage(1)">
          <ion-icon name="camera"></ion-icon>
          Subir fotos
        </ion-col>
        <ion-col *ngIf="img1" col-4 class="lupa-shadow add-photo">
          <img src="{{imageFileName1}}">
        </ion-col>
        <ion-col *ngIf="!img2" col-4 class="lupa-shadow add-photo" (click)="getImage(2)">
          <ion-icon name="camera"></ion-icon>
          Subir fotos
        </ion-col>
        <ion-col *ngIf="img2" col-4 class="lupa-shadow add-photo">
          <img src="{{imageFileName2}}">
        </ion-col>
        <ion-col *ngIf="!img3" col-4 class="lupa-shadow add-photo" (click)="getImage(3)">
          <ion-icon name="camera"></ion-icon>
          Subir fotos
        </ion-col>
        <ion-col *ngIf="img3" col-4 class="lupa-shadow add-photo">
          <img src="{{imageFileName3}}">
        </ion-col>
        <ion-col *ngIf="!img4" col-4 class="lupa-shadow add-photo" (click)="getImage(4)">
          <ion-icon name="camera"></ion-icon>
          Subir fotos
        </ion-col>
        <ion-col *ngIf="img4" col-4 class="lupa-shadow add-photo">
          <img src="{{imageFileName4}}">
        </ion-col>
        <ion-col *ngIf="!img5" col-4 class="lupa-shadow add-photo" (click)="getImage(5)">
          <ion-icon name="camera"></ion-icon>
          Subir fotos
        </ion-col>
        <ion-col *ngIf="img5" col-4 class="lupa-shadow add-photo">
          <img src="{{imageFileName5}}">
        </ion-col>
      </ion-row>-->

      <div *ngIf="dog.estado != '5'" class="subida-fotos">
        <ion-row>
          <ion-col *ngIf="!img1" col-4 class="lupa-shadow add-photo" (click)="getImage(1)">
            <ion-icon name="camera"></ion-icon>
            <span>Subir fotos</span>
          </ion-col>

          <ion-col *ngIf="img1" col-4 class="lupa-shadow add-photo">
            <img src="{{imageFileName1}}">
          </ion-col>
          
          <ion-col *ngIf="!img2" col-4 class="lupa-shadow add-photo" (click)="getImage(2)">
            <ion-icon name="camera"></ion-icon>
            <span>Subir fotos</span>
          </ion-col>
          <ion-col *ngIf="img2" col-4 class="lupa-shadow add-photo">
            <img src="{{imageFileName2}}">
          </ion-col>

          <ion-col *ngIf="!img3" col-4 class="lupa-shadow add-photo" (click)="getImage(3)">
            <ion-icon name="camera"></ion-icon>
            <span>Subir fotos</span>
          </ion-col>
          <ion-col *ngIf="img3" col-4 class="lupa-shadow add-photo">
            <img src="{{imageFileName3}}">
          </ion-col>

          <ion-col *ngIf="!img4" col-4 class="lupa-shadow add-photo" (click)="getImage(4)">
            <ion-icon name="camera"></ion-icon>
            <span>Subir fotos</span>
          </ion-col>
          <ion-col *ngIf="img4" col-4 class="lupa-shadow add-photo">
            <img src="{{imageFileName4}}">
          </ion-col>

          <ion-col *ngIf="!img5" col-4 class="lupa-shadow add-photo" (click)="getImage(5)">
            <ion-icon name="camera"></ion-icon>
            <span>Subir fotos</span>
          </ion-col>
          <ion-col *ngIf="img5" col-4 class="lupa-shadow add-photo">
            <img src="{{imageFileName5}}">
          </ion-col>
        </ion-row>
      </div>

      <ion-row class="barra-direccion">
        <ion-col col-12>
          <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Dirección"></ion-searchbar>
        </ion-col>
        <ion-col>
          <ion-list class="list_map">
            <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">
              <p>{{place.description}}</p>
            </ion-item>
          </ion-list>
        </ion-col>
        <div #pleaseConnect id="please-connect">
          <p>Please connect to the Internet...</p>
        </div>
        <div #map id="map" style="width: 100% !important; height: 200px !important;">
          <ion-spinner></ion-spinner>
        </div>
      </ion-row>

      <ion-row>
        <ion-col padding text-center>
          <button ion-button block class="btn-iniciar lupa-shadow" (click)="edit()">Guardar</button>
        </ion-col>
      </ion-row>

  </ion-grid>
</ion-content>