<ion-header>

  <ion-navbar>
    <ion-title>Todos mis perritos</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list>
    <ion-list-header>
      Mis perros
    </ion-list-header>
    <ion-item *ngFor="let dog of myDogs" (click)="goToDogDetail(dog)">
      <ion-thumbnail item-start>
        <img src="http://ctrlztest.com.ar/lupacan/apirest/{{dog.fotourl}}" alt="{{dog.nombre}}">
      </ion-thumbnail>
      <h2>{{dog.nombre}}</h2>
      <p>{{dog.color}}</p>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-list-header>
      Perros encontrados
    </ion-list-header>
    <ion-item *ngFor="let dog of foundDogs" (click)="goToDogDetail(dog)">
      <ion-thumbnail item-start>
        <img src="./assets/imgs/" alt="{{dog.nombre}}">
      </ion-thumbnail>
      <h2>{{dog.nombre}}</h2>
      <p>{{dog.color}}</p>
    </ion-item>   
  </ion-list>

  <ion-row>
    <ion-col>
        <button ion-button full (click)="addNewDog()">Agregar un perro!</button>
    </ion-col>
  </ion-row>

</ion-content>