<ion-header class="lupa-shadow">
  <ion-navbar>
    <ion-title text-center>Filtros</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center *ngIf="filtrosList == 'service'">
    <ion-col col-12 no-padding text-center *ngIf="localidades">
      <button class="btn_categorias" ion-button round>Localidad
        <ion-select [(ngModel)]="localidad" okText="Ok" cancelText="Cancelar" multiple="true" [selectOptions]="selectOptionsLocal"
          (ionChange)="onLocalSelected($event)" selectedText=" ">
          <ion-option *ngFor="let localidad of localidades" [value]="localidad">{{localidad}}</ion-option>
        </ion-select>
      </button>
    </ion-col>
    <ion-col *ngIf="localidadSelected.length > 0" col-12 padding text-center>
      <ion-list *ngFor="let select of localidadSelected; let i = index;">
        <button class="btn_catSelected" ion-button round icon-end>{{select}}          
        </button>
      </ion-list>
    </ion-col>
    <ion-col col-12 no-padding text-center>
      <button class="btn_categorias" ion-button round>Descuento
        <ion-select [(ngModel)]="desc" okText="Ok" cancelText="Cancelar" multiple="true" [selectOptions]="selectOptionsLocal"
          (ionChange)="onSelectedDecuento($event)" selectedText=" ">
          <ion-option *ngFor="let desc of descuentos" [value]="desc">{{desc}}%</ion-option>
        </ion-select>
      </button>
    </ion-col>
    <ion-col *ngIf="descuentoSelected.length > 0" col-12 padding text-center>
      <ion-list *ngFor="let descu of descuentoSelected; let i = index;">
        <button class="btn_catSelected" ion-button round icon-end>{{descu}}%         
        </button>
      </ion-list>
    </ion-col>
  </ion-row>
  <ion-row *ngIf="filtrosList == 'perros'" justify-content-center no-padding class="btn_filtros">
    <ion-col col-12 no-padding text-center>
      <button text-center ion-button round color="primary">Estado
        <ion-select [(ngModel)]="estadoDog" okText="Ok" cancelText="Cancelar" (ionChange)="onSelectEstado($event)">
          <ion-option value="1">En casa</ion-option>
          <ion-option value="4">En adopción</ion-option>
          <ion-option value="2">Perdidos</ion-option>
        </ion-select>
      </button>
    </ion-col>
    
    <ion-col col-12 no-padding text-center>
      <button text-center ion-button round color="primary">Raza
        <ion-select [(ngModel)]="selectraza" okText="Ok" cancelText="Cancelar" multiple="true" [selectOptions]="selectOptionsRaza" (ionChange)="somethingRaza(selectraza)" selectedText=" ">
          <ion-option *ngFor="let raza of razas" [value]="raza">{{raza.nombre}}</ion-option>
        </ion-select>
      </button>
    </ion-col>
    <ion-col *ngIf="razaSelected.length > 0" col-12 text-center>
      <ion-list *ngFor="let select of razaSelected; let i = index;" class="cat-selected">
        <button class="btn_catSelected" ion-button round icon-end>{{select.nombre}}
          <!-- <span (click)="eliminarRaza(i)">
            <ion-icon name="close"></ion-icon>
          </span> -->
        </button>
      </ion-list>
    </ion-col>
    <ion-col col-12 no-padding text-center>
      <button text-center ion-button round color="primary">Género
        <ion-select multiple="false" #select2 [(ngModel)]="selectgeneroDog" (ionChange)="somethingGenero($event)">
          <ion-option value="1">Masculino</ion-option>
          <ion-option value="2">Femenino</ion-option>
        </ion-select>
      </button>
    </ion-col>
    <!-- <ion-col col-12 no-padding text-center>
      <button text-center ion-button round color="primary">Ubicación
        <ion-select multiple="true" #select3 [(ngModel)]="selectubicacion" (ionChange)="somethingUbicacion($event)">
          <ion-option value="10km">10 km</ion-option>
          <ion-option value="50km">50 km</ion-option>
          <ion-option value="100km">100 km</ion-option>
        </ion-select>
      </button>
    </ion-col> -->
  </ion-row>
  <ion-row justify-content-center>
    <button *ngIf="filtrosList == 'service'" class="btn_tienda" ion-button full round (click)="aplicarFiltro()">Aplicar</button>
    <button *ngIf="filtrosList == 'perros'" class="btn_tienda" ion-button full round (click)="aplicarFiltroDog()">Aplicar</button>
  </ion-row>
</ion-content>
  
