<ion-header no-border no-shadow transparent>
  <ion-navbar hideBackButton no-border no-shadow transparent>
    <ion-title>
      Conversaciones
    </ion-title>
    <ion-buttons left>
      <button ion-button (click)="doYourStuff()">
        <ion-icon class="customIcon" name="arrow-back"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div *ngIf="dataDog">
    <ion-row justify-content-center *ngIf="imgDog">
      <ion-badge color="light">
        <ion-item no-lines>
          <ion-avatar item-start>
            <img src="https://ctrlztest.com.ar/lupacan/apirest/{{imgDog}}">
          </ion-avatar>
          <h2>{{dataDog.nombre}}</h2>
        </ion-item>
      </ion-badge>
    </ion-row>
  </div>
  <div *ngIf="dataUser">
    <ion-row justify-content-center>
      <ion-badge color="light">
        <ion-item no-lines>
          <ion-avatar item-start *ngIf="imgUser">
            <img [src]="imagenUser">
          </ion-avatar>
          <h2>{{dataUser.nombre}}</h2>
        </ion-item>
      </ion-badge>
    </ion-row>
  </div>
  <div class="message-wrap">
    <div *ngFor="let msg of msgList" class="message" [class.left]="msg.userId != idUser" [class.right]="msg.userId == idUser">
      <img *ngIf="msg.userId == idUser" class="user-img" [src]="imagenUser" />
      <img *ngIf="msg.userId != idUser" class="user-img" [src]="imageChatCon" />
      <ion-spinner name="dots" *ngIf="msg.status === 'pending'"></ion-spinner>
      <div class="msg-detail">
        <div class="msg-info">
          <p>{{ msg.userName }} {{ msg.time | date: 'dd/MM/yyyy H:mm' }}</p>
        </div>
        <div class="msg-content">
          <span class="triangle"></span>
          <p class="line-breaker ">{{ msg.message }}</p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<ion-footer no-border>
  <div class="input-wrap">
    <button ion-button clear icon-only item-right (click)="switchEmojiPicker()">
      <ion-icon name="md-happy"></ion-icon>
    </button>
    <textarea #chat_input placeholder="Escribe aqui..." [(ngModel)]="editorMsg" (keyup.enter)="sendMsg()" (focusin)="onFocus()">
      </textarea>
    <button ion-button clear icon-only item-right (click)="sendMsg()">
      <ion-icon name="ios-send" ios="ios-send" md="md-send"></ion-icon>
    </button>
  </div>
</ion-footer>