page-qr-collares {
    .searchbar-input-container{
        .searchbar-search-icon{
            left: 0px;
        }
        .searchbar-input{
            box-shadow: none !important;
            border-bottom: 1px solid #DADADA;
            font-size: 1.8rem;
            padding-left: 30px;
            padding-right: 0px;
            color: #A9A9A9;
        }
    }
}
