<ion-header>
  <ion-navbar>
    <ion-title>Razas</ion-title>
    <ion-buttons end>
      <button ion-button (click)="dismiss()">
        <ion-icon name="close" showWhen="android,windows,core,mobileweb"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="tutorial-page">
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Buscar raza.."></ion-searchbar>
  <ion-list inset>
    <ion-item *ngFor="let item of items">
      <ion-label (click)="select(item)">{{item.nombre}}</ion-label>
    </ion-item>
  </ion-list>
  <!-- <ion-slides pager>
    <ion-slide *ngFor="let slide of slides">
      <ion-toolbar>
        <ion-buttons end>
          <button ion-button color="primary">Skip</button>
        </ion-buttons>
      </ion-toolbar>
      <img [src]="slide.image" class="slide-image" />
      <h2 class="slide-title" [innerHTML]="slide.title"></h2>
      <p [innerHTML]="slide.description"></p>
    </ion-slide>
    <ion-slide>
      <ion-toolbar>
      </ion-toolbar>
      <img src="assets/img/ica-slidebox-img-4.png" class="slide-image" />
      <h2 class="slide-title">Ready to Play?</h2>
      <button ion-button large clear icon-end color="primary" (click)="irAInicio()">
        Continue
        <ion-icon name="arrow-forward"></ion-icon>
      </button>
    </ion-slide>
  </ion-slides> -->
</ion-content>