<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">{{nombreUser}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="goToChat()">
        <ion-icon name="chatbubbles"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding class="listas">
  <ion-row justify-content-center>
    <ion-col text-center col-6 no-padding>
      <img text-center class="img_add" [src]="imgSrc">
    </ion-col>
  </ion-row>
  <ion-row justify-content-center class="nombre-usuario">
    <ion-col col-12>
      <h4 text-center>{{nombreUser}} {{apellidoUser}} <span><add-fav-user class="fav-icon" [usuariofav]="idUser"></add-fav-user></span></h4>
    </ion-col>
    <ion-col col-12 *ngIf="user && user.mostrartelefono == '1'">
      <p text-center class="telefono">
        <ion-icon name="call"></ion-icon>{{user.telefono}}</p>
    </ion-col>
  </ion-row>
  
  <div *ngIf="misPerros.length > 0" class="_list">
    <ion-row>
      <ion-col>
        <h2 text-center class="label-title">
          Mis perros
        </h2>
      </ion-col>
    </ion-row>
  
    <ion-row class="item-lista-wrapper lupa-shadow" *ngFor="let dog of misPerros" (click)="goToDogDetail(dog)">
        <ion-col col-4 no-padding>
          <div class="item-lista-img" [ngStyle]="{background: 'url(https://ctrlztest.com.ar/lupacan/apirest/' + dog.fotos[0].fotourl + ')', 'background-size':  'cover' , 'background-position':  'center' }">
              
          </div>
        </ion-col>
        <ion-col col-8 class="item-info-wrapper">
          <h2 class="nombre-item">{{dog.nombre}}</h2>
          <p class="desc-item">{{dog.descripcion | slice:0:50}} ...()</p>
        </ion-col>
      </ion-row>
  </div>
  <ion-row *ngIf="!(misPerros.length > 0)" justify-content-center>
    <p class="sin-resultados">Sin perros agregados!</p>
  </ion-row>
</ion-content>