page-list-dog-user {
    
    .nombre-usuario {

        h4 {
            margin: 10px 0!important;

            span {
                display: inline-block;
                vertical-align: middle;
                margin-left: 5px;

                ion-icon {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
