<ion-header>
  <ion-navbar>
    <ion-title>Perros de {{nombreUser}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list *ngIf="misPerros.length > 0">
    <ion-item *ngFor="let dog of misPerros" (click)="goToDogDetail(dog)">
      <ion-thumbnail item-start>
        <img src="http://ctrlztest.com.ar/lupacan/apirest/{{dog.fotos[0].fotourl}}">
      </ion-thumbnail>
      <h2>{{dog.nombre}}</h2>
      <p>{{dog.raza}}</p>
      <p>{{dog.direccion}}</p>
    </ion-item>
  </ion-list>
</ion-content>
