page-home {
    .imgPerfil{
        border-radius: 50%;
    }
    .home-grid{
        display: flex;
        flex-direction: column;
        height: 95%;
        .home-row{
            padding:0 16px 16px 16px;
            .home-col{
                font-size: 1.1rem;
                font-weight: 600;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 7px;
                img{
                    margin: 7px;                    
                    max-height: 48px;
                }
            }
            .dir-row{
                flex-direction: row;
                img{
                    margin: 5px;
                    max-height: 70px;
                }
            }
        }
        div{
            display: flex;
            height: 100%;
        }
        img{
            height: 135px;
        }
        .publ_img{
            height: 10vh;
        }
    }
    .scroll-content{
        margin-top: 0!important;
    }
}
