page-home {
    .imgPerfil{
        border-radius: 50%;
        padding-top: 3px;
    }
    #notification-button {            
        /*position: relative;
        width: 42px;
        top:1px;
        right: 1px;
        overflow: visible!important;*/
    }


    #notifications-badge {
        background-color: red;
        position: absolute;
        top: -3px;
        right: -3px;
        border-radius: 100%;
    }
    .home-grid{
        display: flex;
        flex-direction: column;
        height: 95%;
        .home-row{
            padding:0 16px 16px 16px;
            .home-col{
                font-size: 1.1rem;
                font-weight: 400;
                height: 90px;
                width: 100%;
                align-items: center;
                justify-content: center;
                flex-direction: column;
                border-radius: 7px;
                img{
                    margin: 0 0 8px;
                    max-width: 7vh;
                    height: auto;
                }
            }
            .dir-row{
                flex-direction: row;
                img{
                    margin: 5px;
                    max-height: 8vh;
                }
            }
        }
        div{
            display: flex;
            height: 100%;
        }
        img{
            height: 18vh;
        }
        .publ_img{
            height: 10vh;
        }
    }
    .scroll-content{
        margin-top: 0!important;
    }
}
