<ion-header>
  <ion-navbar hideBackButton>
    <ion-row>
      <ion-col *ngIf="usuario != 0">
        <ion-buttons float-left (click)="openMenu()">
          <button *ngIf="usuario.facebookid == '' && usuario.imagen == ''" ion-button icon-only >
            <ion-icon name="contact"></ion-icon>
          </button>
          <div *ngIf="usuario.imagen != '' && usuario.facebookid == ''">
            <img class="imgPerfil" style="max-width: 20% !important;" [src]="imgSrc">          
          </div>
          <div *ngIf="usuario.imagen != '' && usuario.facebookid != ''">
            <img class="imgPerfil" style="max-width: 20% !important;" [src]="imgSrc">          
          </div>
          <div *ngIf="usuario.imagen == '' && usuario.facebookid != ''">
            <img class="imgPerfil" style="max-width: 20% !important;" src="https://graph.facebook.com/{{usuario.facebookid}}/picture?type=large">          
          </div>
        </ion-buttons>
      </ion-col>
      <ion-col> 
        <ion-buttons float-right>
          <button ion-button icon-only (click)="goToMySettings()">
           <ion-icon ios="ios-paw" md="md-paw"></ion-icon>
          </button>
        </ion-buttons>
      </ion-col>
    </ion-row>
  </ion-navbar>
</ion-header>

<ion-content padding>
 <!--ion-grid>

    <ion-row>
      <ion-col col-4 offset-4>
          <img src="assets/imgs/main.png" alt="">
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-card (click)="goToPerdidos()" text-center>
          <img src="assets/imgs/home_ico_1.png" alt="">
          Perdidos
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card (click)="goToEncontrar()" text-center>
          <img src="assets/imgs/home_ico_2.png" alt="">
          Encontrados
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col>
        <ion-card (click)="goToComunidad()" text-center>
          <img src="assets/imgs/home_ico_3.png" alt="">
          Comunidad
        </ion-card>
      </ion-col>
    </ion-row>

    <ion-row align-items-center>
      <ion-col col-6>
        <ion-card (click)="goToAdopcion()" text-center>
          <img src="assets/imgs/home_ico_4.png" alt="">
          Adopción
        </ion-card>
      </ion-col>
      <ion-col col-6>
        <ion-card (click)="goToServicios()" text-center>
          <img src="assets/imgs/home_ico_5.png" alt="">
          Servicios
        </ion-card>
      </ion-col>
    </ion-row>
   
 </ion-grid-->

 

 <div class="home-grid">
    <p text-center>
        <img src="assets/imgs/main.png" alt="">
     </p>
    <div class="home-row">
      <div (click)="goToPerdidos()" class="home-col lupa-shadow" margin-end>
        <img src="assets/imgs/home_ico_1.png" alt="">
        Perdidos
      </div>
      <div (click)="goToEncontrar()" class="home-col lupa-shadow">
        <img src="assets/imgs/home_ico_2.png" alt="">
        Encontrados
      </div>
    </div>
    <div class="home-row">
      <div (click)="goToComunidad()" class="home-col lupa-shadow dir-row">
        <img src="assets/imgs/home_ico_3.png" alt="">
        Comunidad
      </div>
    </div>
    <div class="home-row">
      <div (click)="goToAdopcion()" class="home-col lupa-shadow" margin-end>
        <img src="assets/imgs/home_ico_4.png" alt="">
        Adocpión
      </div>
      <div (click)="goToServicios()" class="home-col lupa-shadow">
        <img src="assets/imgs/home_ico_5.png" alt="">
        Servicios
      </div>
    </div>
 </div>
</ion-content>

<!--ion-footer class="lupa-menu">
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col col-3 class="current">
          <img src="assets/imgs/foot-home.png" alt="">
          <p>Inicio</p>
        </ion-col>
        <ion-col col-3>
          <img src="assets/imgs/foot-user.png" alt="">
          <p>Mi cuenta</p>
        </ion-col>
        <ion-col col-3>
          <img src="assets/imgs/foot-search.png" alt="">
          <p>Búsqueda</p>
        </ion-col>
        <ion-col col-3 (click)="goToAgregar()">
          <img src="assets/imgs/foot-add.png" alt="">
          <p>Agregar</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer-->