page-my-favorites {

    ion-segment {
        margin-bottom: 20px;

        &.seg_fav {

            ion-segment-button {
                margin: 0 3px;
                font-size: 1rem!important;
                font-weight: 600!important;
                border-top-left-radius: 20px;
                border-bottom-left-radius: 20px;
                background: $lupa-gray!important;

                &.segment-activated {
                    background: #ffc600 !important;
                    color: white !important;
                }
            }
        }
    }
}
