<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">Mis Favoritos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding class="listas">
  <ion-row justify-content-center>
    <ion-segment class="seg_fav" mode="md" [(ngModel)]="sections" color="primary">
      <ion-segment-button class="first" value="perros">
        PERROS
      </ion-segment-button>
      <ion-segment-button class="med" value="usuarios">
        USUARIOS
      </ion-segment-button>
      <ion-segment-button class="med" value="locales">
        SERVICIOS
      </ion-segment-button>
      <ion-segment-button class="second" value="refugios">
        REFUGIOS
      </ion-segment-button>
    </ion-segment>

    <ion-grid [ngSwitch]="sections">
      <ion-row *ngIf="sinFavoritos" justify-content-center>
        <p text-center>Sin favortios por el momento!</p>
      </ion-row>
      <div *ngSwitchCase="'perros'">
        <div *ngIf="!sinFavoritos">
          <ion-row class="item-lista-wrapper lupa-shadow" *ngFor="let dog of perros" (click)="goToDogDetail(dog)">
            <ion-col col-4 no-padding>
              <div class="item-lista-img" [ngStyle]="{background: 'url(https://ctrlztest.com.ar/lupacan/apirest/' + dog.foto + ')', 'background-size':  'cover' , 'background-position':  'center' }">
                  
              </div>
            </ion-col>
            <ion-col col-8 class="item-info-wrapper">
              <h2 class="nombre-item">{{dog.nombre}}</h2>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="sinFavoritos">
          <ion-row>
            <ion-col>
              <p class="sin-resultados">No tienes favoritos para esta sección</p>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div *ngSwitchCase="'usuarios'">
        <div *ngIf="!sinFavoritos">
          <ion-row class="item-lista-wrapper lupa-shadow" *ngFor="let user of usuarios" (click)="goToDogDetail(user)">
            <ion-col col-4 no-padding *ngIf="user.imagen != ''">
              <div class="item-lista-img" [ngStyle]="{background: 'url(https://ctrlztest.com.ar/lupacan/apirest/' + user.imagen + ')', 'background-size':  'cover' , 'background-position':  'center' }">
                  
              </div>
            </ion-col>
            <ion-col col-4 no-padding *ngIf="user.imagen == '' && user.facebookid != ''">
              <div class="item-lista-img" [ngStyle]="{background: 'url(https://graph.facebook.com/' + user.facebookid + '/picture?type=large)', 'background-size':  'cover' , 'background-position':  'center' }">
              </div>
            </ion-col>
            <ion-col col-8 class="item-info-wrapper">
              <h2 class="nombre-item">{{user.nombre}}</h2>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="sinfavotritosUsuario">
          <ion-row>
            <ion-col>
              <p class="sin-resultados">No tienes usuarios favoritos!</p>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div *ngSwitchCase="'locales'">
        <div *ngIf="!sinFavoritos">
          <ion-row class="item-lista-wrapper lupa-shadow" *ngFor="let local of locales" (click)="goToDogDetail(local)">
            <ion-col col-4 no-padding>
              <div class="item-lista-img" [ngStyle]="{background: 'url(https://ctrlztest.com.ar/lupacan/apirest/' + local.imagen + ')', 'background-size':  'cover' , 'background-position':  'center' }">
                  
              </div>
            </ion-col>
            <ion-col col-8 class="item-info-wrapper">
              <h2 class="nombre-item">{{local.nombre}}</h2>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="sinfavotritosLocal">
          <ion-row>
            <ion-col>
              <p class="sin-resultados">No tienes servicios favoritos!</p>
            </ion-col>
          </ion-row>
        </div>
      </div>

      <div *ngSwitchCase="'refugios'">
        <div *ngIf="!sinFavoritos">
          <ion-row class="item-lista-wrapper lupa-shadow" *ngFor="let local of refugios" (click)="goToDogDetail(local)">
            <ion-col col-4 no-padding>
              <div class="item-lista-img" [ngStyle]="{background: 'url(https://ctrlztest.com.ar/lupacan/apirest/' + local.imagen + ')', 'background-size':  'cover' , 'background-position':  'center' }">
                  
              </div>
            </ion-col>
            <ion-col col-8 class="item-info-wrapper">
              <h2 class="nombre-item">{{local.nombre}}</h2>
            </ion-col>
          </ion-row>
        </div>

        <div *ngIf="sinfavotritosRefugio">
          <ion-row>
            <ion-col>
              <p class="sin-resultados">No tienes refugios favoritos!</p>
            </ion-col>
          </ion-row>
        </div>
      </div>
      
    </ion-grid>
  </ion-row>
</ion-content>