<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">{{service.nombre}}</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="forms">
  <ion-grid padding>
  
  <ion-row justify-content-center>
    <ion-slides autoplay="3000" loop="true" speed="800">
      <ion-slide *ngFor="let image of [1,2,3,4,5]">
        <img class="img_banner" src="https://www.portaldetuciudad.com/imagenes/3/empresas/Clinica-Veterinaria-Inmaculada-Acevedo_690775-1.jpg">
      </ion-slide>
    </ion-slides>
  </ion-row>

  <ion-row *ngIf="!desdeBusq && dataCategory" justify-content-center style="margin-top: 5%;">
    <ion-col col-12 text-center>
      <h3 text-center color="primary">{{dataCategory.nombre}}</h3>
    </ion-col>
  </ion-row>

  <ion-segment class="seg_fav" mode="md" [(ngModel)]="sections" color="primary">
    <ion-segment-button class="first" value="info" (click)="cat()">
      INFO
    </ion-segment-button>
    <ion-segment-button class="second" value="mapa" (click)="getUserPosition()">
      MAPA
    </ion-segment-button>
  </ion-segment>

  <div [ngSwitch]="sections">

    <!-- MAP -->
    <div [hidden]="sections!='mapa'">
      <ion-row justify-content-center>
        <div #pleaseConnect id="please-connect">
          <p>Please connect to the Internet...</p>
        </div>
        <div #map id="map" style="width: 100% !important; height: 200px;">
          <ion-spinner></ion-spinner>
        </div>
      </ion-row>
    </div>

    <!-- INFO SERVICE -->
    <div [hidden]="sections!='info'">

      <ion-row *ngIf="service.imagenes.length > 0" justify-content-center class="carga-img-productos">
        <ion-slides pager>
          <ion-slide *ngFor="let dog of [1,2,3]" class="contenedor-img">
            <img src="https://ctrlztest.com.ar/lupacan/apirest/{{service.imagenes[0].imagen}}" alt="">
          </ion-slide>
        </ion-slides>
      </ion-row>

      <ion-row *ngIf="!(service.imagenes.length > 0)" justify-content-center class="carga-img-productos">
        <ion-slides pager>
          <ion-slide *ngFor="let dog of [1,2,3]" class="contenedor-img">
            <img src="../../assets/imgs/vet.jpg" alt="">
          </ion-slide>
        </ion-slides>
      </ion-row>
 
      <ion-row>
        <ion-col col-12 class="nombre-descuento">
          <h4 text-center>{{service.nombre}} 
            <span><add-fav-serv class="fav-icon" *ngIf="!(userId == service.usuarioid)" [localid]="service.localid"></add-fav-serv>
            </span>
            <span *ngIf="service.premium == 1">
              <ion-icon class="chatbubbles" name="chatbubbles" (click)="goToMsjPrivado()"></ion-icon>
            </span>
          </h4>
          <ion-badge *ngIf="service.premium != null && service.descuento != null" class="badge-descuento">
            <p>Descuento: 30{{service.descuento}}%</p>
          </ion-badge>
        </ion-col>

        <ion-col col-12 text-center class="stars-rating">
          <p text-center>
            <ion-icon name="star" class="plus"></ion-icon>
            <ion-icon name="star" class="plus"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
            <ion-icon name="star"></ion-icon>
          </p>
        </ion-col>
      </ion-row>

      <ion-row class="data-show">
        <ion-col>
            <p class="item-title">Dirección:</p>
            <p class="item-info">{{service.direccion}}</p>
        </ion-col>
      </ion-row>
      
      <ion-row class="data-show">
        <ion-col>
          <p class="item-title">Teléfono:</p>
          <p class="item-info">{{service.telefono}}</p>
        </ion-col>
      </ion-row>

      <ion-row class="data-show">
        <ion-col>
          <p class="item-title">Email:</p>
          <p class="item-info">{{service.email}}</p>
        </ion-col>
      </ion-row>

      <ion-row justify-content-center class="ver-comentarios data-show" *ngIf="service.premium == 1">  
        <ion-col col-12 class="btn-dejar-commentario">
          <button text-center ion-button color="primary" (click)="dejarComment()">Deja tu comentario</button>
        </ion-col>

        <ion-col *ngIf="dejarcomment" col-12 text-center>
          <ion-item>
            <ion-textarea [(ngModel)]="message" type="text" placeholder="Comentario..."></ion-textarea>
          </ion-item>
          <button class="enviar-comment" ion-button small round (click)="sendComment(message)">Enviar</button>
        </ion-col>

        <ion-col col-6 class="col-link">
          <a float-left (click)="verComments()">Ver comentarios</a>
        </ion-col>

        <ion-col col-6 class="col-link">
          <a float-right (click)="getSeguidores()">Ver seguidores</a>
        </ion-col>
      </ion-row>

      <div *ngIf="service.perros">
        <ion-row *ngIf="service.perros.length > 1" style="margin-top: 7%;">
          <h4 text-center>Perros en este Refugio</h4>
          <ion-col col-4 *ngFor="let dog of service.perros" (click)="goToDogDetail(dog[0])">
            <div class="dog-name">{{dog[0].nombre}}</div>
            <img src="https://ctrlztest.com.ar/lupacan/apirest/{{dog[0].fotos[0].fotourl}}" alt="{{dog.nombre}}">
          </ion-col>
        </ion-row>
      </div>

    </div>
    
  </div>

  </ion-grid>
</ion-content>