page-service-detail {
    /*.header{
        padding: 0!important;
    }
    .toolbar{
        background: color($colors, primary);
        .toolbar-title{
            color: #fff;
            //display: flex;
            justify-content: space-between;
            align-items: center;
            .icon{
                color: #fff;
            }
        }
    }*/

    .img_banner{
        background-position: center;
        height: 22vh;
    }
    ion-segment.seg_fav{
        .first{
            color: white;
            font-size: 1rem;
            font-weight: 600;
            border-top-left-radius: 20px;
            border-bottom-left-radius: 20px;
            background: #7e7e7e;
        }
        .second{
            color: white;
            font-size: 1rem;
            font-weight: 600;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            background: #7e7e7e;            
        }
    }
    ion-segment-button.second.segment-button.segment-activated{
        background: #ffc600 !important;
        color: white !important;
    }
    ion-segment-button.med.segment-button.segment-activated{
        background: #ffc600 !important;
        color: white !important;
    }
    ion-segment-button.first.segment-button.segment-activated{
        background: #ffc600 !important;
        color: white !important;
    }
    .plus{
        color: color($colors, primary);
    }
    .col-link{
        a{
            text-decoration-line: underline;
            color: #7e7e7e;
        }
    }
    
}
