<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">Recuperar Contraseña</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row justify-content-center>
      <ion-col col-6 text-center>
        <img src="assets/imgs/main.png" alt="">
        <h1 text-uppercase>Lupacan</h1>
      </ion-col>
      <ion-col col-10 text-center>
        <p *ngIf="submitAttempt" style="color: #ea6153;">Por favor complete los campos.</p>
        <ion-list no-lines>
          <form [formGroup]="myForm">
            <ion-input type="email" placeholder="Ingresá tu usuario(e-mail)" class="lupa-shadow" formControlName="usuario" [class.invalid]="!myForm.controls.usuario.valid && (myForm.controls.usuario.dirty || submitAttempt)"></ion-input>
            <ion-item *ngIf="!myForm.controls.usuario.valid  && (myForm.controls.usuario.dirty || submitAttempt)">
              <p>Por favor ingresar un usuario válido.</p>
            </ion-item>
          </form>
          <button ion-button block (click)="recuperarPass()" class="btn-iniciar lupa-shadow">Enviar</button>
        </ion-list> 
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
