// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


/*Font*/
@import url('https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap');


//Colores
$lupa-amarillo: #F1C969;
$lupa-gray: #7E7E7E;

item-ios{
    color: #7e7e7e;
}

.item{
    padding-left: 16px;
    padding-right: 16px;
}

h1{
    font-weight:700;
}

.header::after{
    background-image: none;
}

.toolbar-background{
    background: transparent;
    border: none!important;
}

.txt-bold{
    font-weight: 700;
}

.button,
.segment-button {
    height: 3.2rem!important;
    color: #fff!important;
    font-size: 1.2rem;
    border-radius: 20px;
    height: 3.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: capitalize!important;

    span{
        color: #fff;
    }
}

.btn-iniciar{
    background: color($colors, secondary)!important;
    span{
        color: #fff!important;
    }
}

.text-input, .button{
    font-size: 1em;
}

.input{
    display: flex;
}

.menu-inner{
    .header{
        background: $lupa-amarillo;
        img{
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
        h2{
            font-weight: 700;
        }
    }
    .item{
        .item-inner{
            .label{
                display: flex;
                align-items: center;
            }
            border: none;
        }
        img{
            max-width: 30px;
        }
    }
}

.tabbar{
    background: #343536!important;
    color: #bdbdbd!important;
    .tab-button[aria-selected=true]{
        background: color($colors, primary)!important;
        span, .tab-button-icon{
            color: #fff!important;
        }
    }
    .tab-button-icon{
        color: #bdbdbd!important;
    }
}

.lupa-menu{
    background: color($colors, dark);
    .toolbar{
        min-height: auto!important;
    }
    .grid, .toolbar{
        padding: 0;
        padding-bottom: 0!important;
    }
    img{
        max-width: 25px;
    }
    p{
        margin: 0;
        color: #fff;
        opacity: 0.6;
    }
    .col{
        height: 100%;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 0.8em;
        padding: 1em;
        
    }
    .col.current{
        background: color($colors, primary);
    }
}

.show-page{
    padding: 15vh 2em;
    background: rgba(0, 0, 0, 0.5);
}

* {
    font-family: 'Montserrat', sans-serif;
    color: #7e7e7e;
}

.lupa-title {
    color: #838383;
    padding-left: 0px;
}

.lupa-shadow {
    -webkit-box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 3px 16px 3px rgba(0, 0, 0, 0.1);
}

.toast-message {
    white-space: pre;
  }

._list{
    .item{
        font-size: 1.3rem;
    }
}

ion-header {

    &.header {
        padding: 5px 0 0;

        ion-navbar {
            
            .back-button {
                display: block;
            }
        }

        ion-title {

            .toolbar-title {
                width: 85%;
                color: #7e7e7e;
            }
        }
    }
}

ion-footer {
    background-color: #ffffff;
}
.label-title{
   font-size: 1.6rem;
    color: #838383;
    font-weight: 600;    
}

.input.lupa-shadow{
    height: 3.6rem;
    border-radius: 1.8rem;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
}

.toastExito{
    width: 90%;
    margin-top: 20% !important;
    margin: 5%;
    //padding: 15px;
.toast-wrapper {
    background: #21c064;  
  }
  .toast-message {   
    color: white;
    white-space: pre-line;
    }  
}
.toastError{
    width: 90%;
    margin-top: 20% !important;
    margin: 5%;
    //padding: 15px;
    .toast-wrapper {
        background: #e0483d;       
      }
      .toast-message {       
        color: white;
        white-space: pre-line;
    }  
}

/*Partials*/
@import "partials/principal-feed.scss";