page-dog {
    .dog-img{
        border-radius: 50%;
        width: 12rem;
        height: 12rem;
    }
    .doginfo{
        p{
            border-bottom: 1px solid #7e7e7e;
            margin: 0;
        }
    }
    .button{
        span{
            color: #fff;
        }
    }
}
    