<ion-header>

  <ion-navbar>
    <ion-title *ngIf="!refugio" text-center class="lupa-title">Agregar servicio</ion-title>
    <ion-title *ngIf="refugio" text-center class="lupa-title">Agregar refugio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content class="forms">
  <ion-grid padding>
    
    <ion-row justify-content-center class="carga-img-productos">
      <ion-col col-12 (click)="addPerfilPhoto()">
        <div class="contenedor-img">
          <p *ngIf="!imagePath" class="empezar-anadir">Toca para añadir una foto a tu servicio!
            <span>
              <ion-icon name="add"></ion-icon>
            </span>
          </p>
          <img *ngIf="imagePath" [src]="getTrustImg(imagePath)">
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="header-forms">
      <ion-col>
        <p *ngIf="!refugio" class="header-title">
          Datos del servicio
        </p>
        <p *ngIf="refugio" class="header-title">
          Datos del refugio
        </p>
      </ion-col>
    </ion-row>

    <ion-row class="data-input">
      <ion-col>
        <ion-item>
          <ion-label stacked>Nombre</ion-label>
          <ion-input type="text" [(ngModel)]="tienda.nombre" placeholder="Nombre servicio"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="data-input">
      <ion-col>
        <ion-item>
          <ion-label stacked>Telefono</ion-label>
          <ion-input type="number" [(ngModel)]="tienda.telefono" placeholder="Telefono servicio"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="data-input">
      <ion-col>
        <ion-item>
          <ion-label stacked>Email</ion-label>
          <ion-input type="email" [(ngModel)]="tienda.email" placeholder="Email servicio"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="data-input" justify-content-center *ngFor="let dia of dias; let i = index;" [ngClass]="{ 'horarios': dia.desabilitar == false,'disabled': dia.desabilitar == true }">
      <ion-col col-3 class="dia">
        <ion-item>
          <ion-label stacked>{{dia.dia}}</ion-label>
        </ion-item>  
      </ion-col>

      <ion-col col-3 class="amarillo-chico">
        <ion-item>
          <ion-label stacked>Apertura</ion-label>
          <ion-datetime [disabled]="dia.desabilitar" [(ngModel)]="dia.abre" displayFormat="H mm" pickerFormat="H mm" minuteValues="0,15,30,45" (ionChange)="apertura(dia)" cancelText="Cancelar" doneText="Ok"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col col-3 class="amarillo-chico">
        <ion-item>
          <ion-label stacked>Cierre</ion-label>
          <ion-datetime [disabled]="dia.desabilitar" [(ngModel)]="dia.cierra" displayFormat="H mm" pickerFormat="H mm" minuteValues="0,15,30,45" (ionChange)="cierre(dia)" cancelText="Cancelar" doneText="Ok"></ion-datetime>
        </ion-item>
      </ion-col>

      <ion-col col-3 class="tog">
        <ion-item no-lines no-padding>
          <ion-toggle [(ngModel)]="dia.desabilitar" checked="false" (ionChange)="noAbre(dia,$event)"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row class="data-input" justify-content-center>
      <button ion-button block class="lupa-shadow" [disabled]="refugio">Categorias
        <ion-select [(ngModel)]="tienda.category" okText="Ok" cancelText="Cancelar" multiple="true" [selectOptions]="selectOptions"
          (ionChange)="getItem(tienda.category)" selectedText=" ">
          <ion-option *ngFor="let cat of categorias" [value]="cat">{{cat.nombre}}</ion-option>
        </ion-select>
      </button>
    </ion-row>

    <ion-row class="data-input" *ngIf="!refugio && catSelected" justify-content-center>
      <button *ngFor="let select of catSelected; let i = index;" ion-button block class="lupa-shadow btn_catSelected" icon-end>{{select.nombre}}
        <span (click)="eliminarCategoria(i)">
          <ion-icon name="close"></ion-icon>
        </span>
      </button>
    </ion-row>

      <ion-row class="data-input" *ngIf="refugio" justify-content-center>
        <button class="btn_catSelected" ion-button round icon-end>{{catSelected[0].nombre}}
          <span (click)="eliminarCategoria(i)">
            <ion-icon name="close"></ion-icon>
          </span>
        </button>
      </ion-row>
      
      <ion-row class="barra-direccion">
        <ion-col col-12 >
          <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Dirección"></ion-searchbar>
        </ion-col>

        <ion-col>
          <ion-list class="list_map">
            <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">
              <p>{{place.description}}</p>
            </ion-item>
          </ion-list>
        </ion-col>

        <div #pleaseConnect id="please-connect">
          <p>Please connect to the Internet...</p>
        </div>
        <div #map id="map">
          <!-- <ion-spinner></ion-spinner> -->
        </div>
      </ion-row>

      <ion-row *ngIf="!(tienda.direcc == '')">
        <button *ngIf="!refugio" ion-button full (click)="addService()">Agregar servicio!</button>
        <button *ngIf="refugio" ion-button full (click)="addService()">Agregar refugio!</button>
      </ion-row>

  </ion-grid>
</ion-content>