<ion-header>

  <ion-navbar>
    <ion-title>Agregar servicio</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-row no-padding (click)="addPerfilPhoto()">
    <img text-center [src]="getTrustImg(imagePath)">
  </ion-row>
  <ion-list>
    <ion-list-header text-center>
      Datos del servicio
    </ion-list-header>
    <ion-item>
      <ion-label color="primary" stacked>Nombre</ion-label>
      <ion-input type="text" [(ngModel)]="tienda.nombre" placeholder="Nombre"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Telefono</ion-label>
      <ion-input type="number" [(ngModel)]="tienda.telefono" placeholder="Telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Email</ion-label>
      <ion-input type="email" [(ngModel)]="tienda.email" placeholder="Email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Localidad</ion-label>
      <ion-input type="text" [(ngModel)]="tienda.localidad" placeholder="Localidad"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Horario apertura</ion-label>
      <ion-datetime [(ngModel)]="tienda.horaA" displayFormat="H mm" pickerFormat="H mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
    <ion-item>
      <ion-label color="primary" stacked>Horario cierre</ion-label>
      <ion-datetime [(ngModel)]="tienda.horaC" displayFormat="H mm" pickerFormat="H mm" minuteValues="0,15,30,45"></ion-datetime>
    </ion-item>
    <!-- <ion-item>
      <ion-label color="primary" stacked>Categoria</ion-label>
      <ion-select [(ngModel)]="tienda.category" multiple="true" cancelText="Cancelar" okText="Ok">
        <ion-option *ngFor="let cat of categorias" value="{{cat.categorialocalid}}">{{cat.nombre}}</ion-option>
      </ion-select>
    </ion-item> -->
    <ion-row justify-content-center style="margin-top: 3%;">
      <button class="btn_categorias" ion-button round>Categorias
        <ion-select [(ngModel)]="tienda.category" okText="Ok" cancelText="Cancelar" multiple="true" [selectOptions]="selectOptions"
          (ionChange)="getItem(tienda.category)" selectedText=" ">
          <ion-option *ngFor="let cat of categorias" [value]="cat">{{cat.nombre}}</ion-option>
        </ion-select>
      </button>
    </ion-row>
    <ion-row padding style="margin-top: 3%;" justify-content-center>
      <ion-list *ngFor="let select of catSelected[0]; let i = index;">
        <button class="btn_catSelected" ion-button round icon-end>{{select.nombre}}
          <span (click)="eliminarCategoria(i)">
            <ion-icon name="close"></ion-icon>
          </span>
        </button>
      </ion-list>
    </ion-row>
    <!-- <ion-item>
      <a ion-item (click)="openModal({charNum: 0})">
        Seleccionar servicios ofrecidos
      </a>
      <div *ngIf="dataService">
        <ion-list unset *ngFor="let serv of dataService">
          <ion-item>
            <p color="primary">{{serv.nombre}}</p>
          </ion-item>
        </ion-list>
      </div>
    </ion-item> -->
    <ion-row style="margin: 3% 0;">
      <ion-col col-12 no-padding>
        <ion-searchbar [(ngModel)]="query" (ionInput)="searchPlace()" placeholder="Direccion"></ion-searchbar>
      </ion-col>
      <ion-col no-padding style="padding-top: 0px!important;">
        <ion-list class="list_map">
          <ion-item *ngFor="let place of places" (touchstart)="selectPlace(place)">
            <p>{{place.description}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
      <div #pleaseConnect id="please-connect">
        <p>Please connect to the Internet...</p>
      </div>
      <div #map id="map">
        <!-- <ion-spinner></ion-spinner> -->
      </div>
    </ion-row>

    <button ion-button full (click)="addService()">Agregar servicio!</button>
  </ion-list>

</ion-content>