page-create-service {

    .carga-img-productos {
    
        .contenedor-img {
            background-color: $lupa-amarillo;
            border-radius: 10px;
            height: 248px;
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;

            .empezar-anadir {
                margin: 0!important;
                color: #fff;
                text-align: center;
                padding: 0 15px;
                font-weight: 600;
                font-size: 1.9rem;
        
                span {
                  display: block;
        
                  .icon {
                      color: #fff;
                      font-weight: 600;
                      font-size: 8rem;
                  }
                }
              }
        } 
    }

    ion-select {
        padding: 0 5px!important;

        .select-icon {

            .select-icon-inner {
                color: #fff!important;
            }
        }
    }

    .btn_catSelected {
        display: block;
        height: 2.3rem!important;
        width: 75%;
        font-size: 1.2rem!important;

        .button-inner {

            ion-icon {
                color: #fff;
                vertical-align: middle;
                padding-left: 0.6em;
            }
        }
    }
}
