page-create-service {

    ion-select {
        padding: 0 5px!important;

        .select-icon {

            .select-icon-inner {
                color: #fff!important;
            }
        }
    }

    .btn_catSelected {
        display: block;
        height: 2.3rem!important;
        width: 75%;
        font-size: 1.2rem!important;

        .button-inner {

            ion-icon {
                color: #fff;
                vertical-align: middle;
                padding-left: 0.6em;
            }
        }
    }
}
