<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">Mis notificaciones</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center>
    <p text-center *ngIf=msj>Sin notificaciones por el momento!</p>
    <div *ngIf=!msj>
      <ion-list *ngFor="let not of listaFechas; let i=index">
        <ion-list-header text-center style="margin-bottom: 0px !important;">
          {{dia(not.fecha)}} {{mostrarDia(not.fecha)}}
        </ion-list-header>
        <ion-item *ngFor="let noti of not.listaEventos">
          <ion-col col-12>
            <h4 color="primary" float-left>Usuario</h4>
            <p text-wrap>{{noti.texto}}</p>
          </ion-col>
          <ion-col col-12>
            <p float-right style="font-size: 0.8rem;">{{noti.fecha | date: 'h:mm a'}}</p>
          </ion-col>
        </ion-item>
      </ion-list>
    </div>
  </ion-row>
</ion-content>