<ion-header>

  <ion-navbar>
    <ion-title text-center class="lupa-title">Servicios</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-list inset class="_list">
    <ion-list-header text-center class="label-title">
      Mis Servicios
    </ion-list-header>
    <button ion-item *ngFor="let serv of misLocales" (click)="goToProfileService(serv)">
      {{serv.nombre}}
    </button>
  </ion-list>
  <ion-list inset class="_list">
    <ion-list-header text-center class="label-title">
      Mis Refugios
    </ion-list-header>
    <button ion-item *ngFor="let serv of misRefugios" (click)="goToProfileService(serv)">
      {{serv.nombre}}
    </button>
  </ion-list>
</ion-content>