page-service-list {
    *{
        color: #7e7e7e;
    }
    .grid{
        padding: 0;
        .col[col-7]{
            padding: 0.8em;
        }
    }
    .card{
        margin: 2rem auto;
        p{
            font-size: 0.8em;
        }
        h2{
            font-weight: 700;
            color: #7e7e7e;
            border-bottom: 1px solid #7e7e7e;
            margin-bottom: 0.5em;
        }
        .plus{
            color: color($colors, primary);
        }
        .service-img{
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            img{
                height: 105px;
                width: auto;
                max-width: auto!important;
                display: block;
            }
        }
    }
}
