<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">{{dataCategory.nombre}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center>
    <ion-slides autoplay="3000" loop="true" speed="800">
      <ion-slide *ngFor="let image of [1,2,3,4,5]">
        <img class="img_banner" src="https://www.portaldetuciudad.com/imagenes/3/empresas/Clinica-Veterinaria-Inmaculada-Acevedo_690775-1.jpg">
      </ion-slide>
    </ion-slides>
  </ion-row>
  <!-- <ion-row justify-content-center style="margin-top: 5%;">
    <ion-col col-12 text-center>
      <h3 text-center color="primary">{{dataCategory.nombre}}</h3>
    </ion-col>
  </ion-row> -->
  <ion-row justify-content-center>
    <div #pleaseConnect id="please-connect">
      <p>Please connect to the Internet...</p>
    </div>
    <div #map id="map" style="width: 100% !important; height: 200px;">
      <ion-spinner></ion-spinner>
    </div>
  </ion-row>
  <ion-row justify-content-center class="checks">
    <ion-col col-4>
      <ion-item no-lines>
        <ion-label>Filtros</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="verFiltro" (ionChange)="updateFilter(verFiltro)"></ion-checkbox>
      </ion-item>
    </ion-col>
    <ion-col col-4>
      <ion-item no-lines>
        <ion-label>Favoritos</ion-label>
        <ion-checkbox color="primary" [(ngModel)]="varFav" (ionChange)="updateFilterFav(varFav)"></ion-checkbox>
      </ion-item>
    </ion-col>
  </ion-row>
  <ion-list>
    <ion-list-header text-center>
      CERCANOS A MI
    </ion-list-header>
    <ion-row justify-content-center *ngIf="services2.length == 0">
      <ion-spinner text-center></ion-spinner>
    </ion-row>
    <ion-card class="lupa-shadow" *ngFor="let serv of services2" (click)="goToService(serv)">
      <ion-grid>
        <ion-row class="list_serv">
          <ion-col col-5 no-padding class="service-img">
            <img *ngIf="serv.imagenes.length >0" src="http://ctrlztest.com.ar/lupacan/apirest/{{serv.imagenes[0].imagen}}" alt="">
            <img *ngIf="!(serv.imagenes.length >0)" src="../../assets/imgs/vet.jpg" alt="">
          </ion-col>
          <ion-col col-7 no-padding class="col_data">
            <h2>{{serv.nombre}}</h2>
            <ion-col col-12 *ngIf="serv.descuento != null">
              <ion-badge color="primary" float-right>
                <p>Con Descuentos!</p>
              </ion-badge>
            </ion-col>
            <ion-col col-12 no-padding>
              <p>
                <ion-icon name="pin"></ion-icon> {{serv.direccion}}
              </p>
            </ion-col>
            <ion-col col-12 no-padding>
              <p>Horarios: hrs</p>
            </ion-col>
            <p>
              <ion-icon name="star" class="plus"></ion-icon>
              <ion-icon name="star" class="plus"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
              <ion-icon name="star"></ion-icon>
            </p>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
  </ion-list>
  <ion-row justify-content-center>
    <ion-col col-6 text-center>
      <button text-center ion-button round color="primary">Publicite aquí</button>
    </ion-col>
    <ion-col col-6 text-center>
      <button text-center ion-button round color="primary" (click)="goBack()">Volver</button>
    </ion-col>
  </ion-row>
</ion-content>