page-descuentos {
    .btn_tienda{
        border: 1px solid #b7b7b7;
        //margin-top: -30px !important;
        margin: 0 auto;
        font-size: 1.7rem;
        font-weight: 600;
        color: #35d9c1;
        background: #ffffff !important;
        width: 90%;
        text-transform: uppercase;
    }
}
