<ion-header>
  <ion-navbar>
    <ion-buttons left>
      <button ion-button icon-left (click)="cerrar()">
        <ion-icon name="close" showWhen="android,windows,core,mobileweb"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title text-center class="lupa-title">Descuentos</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-row justify-content-center>
    <ion-col col-12 text-center>
      <ion-label text-center>Seleciona una categoria:</ion-label>
    </ion-col>
    <ion-col col-12 text-center>
      <ion-select [(ngModel)]="categoria" cancelText="Cancelar" okText="Ok" placeholder="Categorias">
        <ion-option *ngFor="let cat of categorias" value="{{cat.categoriaid}}">{{cat.nombre}}</ion-option>
      </ion-select>
    </ion-col>
    <ion-list *ngFor="let cat of misDescuentos" no-padding text-center>
      <ion-col col-12>
        <ion-item no-padding>
          <ion-label stocked>%</ion-label>
          <ion-input type="number" [(ngModel)]="cat.descuento"></ion-input>
        </ion-item>
      </ion-col>
      <ion-col col-12>
        <ion-item no-padding>
          <ion-label stocked>Fecha vecimiento</ion-label>
          <ion-datetime displayFormat="DD/MM/YYYY" min="{{minDate}}" max="2050-12-31" [(ngModel)]="cat.fechavencimiento"></ion-datetime>
        </ion-item>
      </ion-col>
    </ion-list>
    <ion-col padding col-12 padding text-center>
      <button class="btn_tienda" ion-button full round (click)="crearDescuentos()">Crear descuentos</button>
    </ion-col>
  </ion-row>
</ion-content>