<ion-header>
  <ion-navbar>
    <ion-title text-center class="lupa-title">Salud</ion-title>
  </ion-navbar>
</ion-header>


<ion-content class="salud">
  <ion-grid padding>
  
    <ion-row justify-content-center>
      <ion-col col-12>
        <button ion-button block icon-start (click)="expand(0)">
          <i class="fa fa-ambulance white-icon" aria-hidden="true"></i>
          Cuidado
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center *ngIf="expand1">
      <ion-col col-12>
        <button ion-button block icon-start (click)="seccion(0)">
          <i class="fa fa-medkit white-icon" aria-hidden="true"></i>
          Vacunación
        </button>
      </ion-col>
    </ion-row>

    <ion-row justify-content-center *ngIf="expand1">
      <ion-col col-12>  
        <button ion-button block icon-start (click)="seccion(1)">
          <i class="fa fa-heartbeat white-icon" aria-hidden="true"></i>
          Tratamientos
        </button>
      </ion-col>
    </ion-row>
    <!-- <button ion-button block color="primary" icon-start (click)="expand(1)">
      <ion-icon name="home"></ion-icon>
      Salud
    </button>
    <div padding *ngIf="expand2" justify-content-center>
      <button ion-button block outline icon-start (click)="seccion(2)">
        <ion-icon name="home"></ion-icon>
        Alergias
      </button>
      <button ion-button block outline icon-start (click)="seccion(3)">
        <ion-icon name="home"></ion-icon>
        Cirugias
      </button>
      <button ion-button block outline icon-start (click)="seccion(4)">
        <ion-icon name="home"></ion-icon>
        Enfermedades
      </button>
      <button ion-button outline icon-start (click)="seccion(5)">
        <ion-icon name="home"></ion-icon>
        Visitas al veterinario
      </button>
    </div> -->
  </ion-grid>
</ion-content>