page-menu {

    item-ios {
        color: #7e7e7e;
    }
    
    .item {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    h1 {
        font-weight:700;
    }
    
    .header::after {
        background-image: none;
    }
    
    .toolbar-background {
        background: transparent;
        border: none!important;
    }
    
    .txt-bold {
        font-weight: 700;
    }
    
    .button {
        box-shadow: none;
        border-radius: 1.8rem;
        text-transform: none;
        height: 3.6rem;

        span {
            color: #707070;
        }
    }

    .btn-iniciar {
        background: color($colors, secondary)!important;

        span {
            color: #fff!important;
        }
    }
    
    .text-input,
    .button {
        font-size: 1em;
    }
    
    .input {
        display: flex;
    }
    
    .menu-inner {

        .header {
            padding-top: 8% !important;
            background: $lupa-amarillo;
            padding: 20px 0;
            position: relative;

            img {
                width: 80px;
                height: 80px;
                border-radius: 50%;
            }

            h2 {
                margin: 10px 0px 0 !important;
                font-weight: 700;
            }

            p {
                margin: 2px 0 0;
            }
        }

        

        .item {

            .item-inner {

                .label {
                    display: flex;
                    align-items: center;

                    &.nro-celular {
                        font-size: 1.3rem;
                            
                    }
                }
                border: none;
            }

            img {
                max-width: 30px;
                margin-right: 15px;
            }
        }
    }
    
    .left-menu {
        padding-top: 5px;

        .menu-item-wrapper {
            margin: 0;
            border: none;

            ion-label {
                margin: 5px 0;
            }
        }
    }

    .tabbar {
        background: transparent!important;
        color: #bdbdbd!important;

        .tab-button {
            
            background: #343536;
        
        
            &[aria-selected=true] {
            background: color($colors, primary)!important;

            span,
            .tab-button-icon{
                color: #fff!important;
            }
        }

    }

        .tab-button-icon {
            color: #bdbdbd!important;
        }

        .tab-button-text {
            font-size: 1.1rem;
        }
        &::before {
            background-image: none!important;
        }
    }
    
    .lupa-menu {
        background: color($colors, dark);

        .toolbar {
            min-height: auto!important;
        }

        .grid,
        .toolbar {
            padding: 0;
            padding-bottom: 0!important;
        }

        img {
            max-width: 25px;
        }

        p {
            margin: 0;
            color: #fff;
            opacity: 0.6;
        }

        .col {
            height: 100%;
            justify-content: center;
            align-items: center;
            text-align: center;
            font-size: 0.8em;
            padding: 1em;
        }

        .col.current {
            background: color($colors, primary);
        }
    }

    .sub-item {
        line-height: 38px;
        padding-top: 0;
        padding-bottom: 0;
        transition: 0.09s all linear;

        .item-inner {
            padding-left: 60px;

            .input-wrapper {

                .label {
                    margin: 0;
                    font-size: 1.2rem;
                }
            }
        }
    }
    
    .show-page {
        padding: 15vh 2em;
        background: rgba(0, 0, 0, 0.5);
    }
}