<ion-menu [content]="content">
    <ion-header *ngIf="dataUser" text-center>
        <img [src]="imagen" alt="">
        <h2>{{dataUser.nombre}} {{dataUser.apellido}}</h2>
        <p>{{dataUser.email}}</p>
    </ion-header>
    <ion-content>
        <ion-list class="left-menu">
            <ion-item>
                <ion-toggle [checked]="mostrar" (ionChange)="ocultarTelefono($event,dataUser)"></ion-toggle>
                <ion-label class="nro-celular">
                    Mostrar mi N° de celular
                </ion-label>
            </ion-item>
            <ion-list-header class="menu-item-wrapper" (click)="goToMyProfile()" menuClose>
                <img src="assets/imgs/menu01.png" alt=""> &nbsp;Editar mis datos
            </ion-list-header>
            <ion-list-header class="menu-item-wrapper" (click)="openItem()">
                <img src="assets/imgs/menu03.png" alt=""> &nbsp;Mis servicios
            </ion-list-header>
            <div *ngIf="expand1">
                <ion-item class="sub-item" (click)="goToMyServices()">Ver actuales</ion-item>
                <ion-item class="sub-item" (click)="goToAddServices()">Agregar</ion-item>
                <ion-item class="sub-item" (click)="goToMyFavServices()">Servicios favoritos</ion-item>
            </div>
            <ion-list-header class="menu-item-wrapper" (click)="openItem2()">
                <img src="assets/imgs/menu02.png" alt=""> &nbsp;Mis refugios
            </ion-list-header>
            <div *ngIf="expand2">
                <ion-item class="sub-item" (click)="goToMyRefugios()">Ver actuales</ion-item>
                <ion-item class="sub-item" (click)="goToCreateRefugio()">Agregar</ion-item>
                <ion-item class="sub-item" (click)="goToMyFavRefugios()">Refugios favoritos</ion-item>
            </div>
            <ion-list-header class="menu-item-wrapper" (click)="logOut()" menuClose>
                <img src="assets/imgs/menu05.png" alt=""> &nbsp;Salir
            </ion-list-header>
        </ion-list>
    </ion-content>
</ion-menu>

<ion-nav id="nav" #content [root]="rootPage" swipeBackEnabled="false"></ion-nav>